@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: whitesmoke;
}
.content-wrapper.blurred {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }
  .sidebar.open {
    display: block;
    transform: translateX(0);
  }
  .sidebar-body {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }



  .stepper {
    margin-bottom: 20px;
  }
  
  .stepper ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
  }
  
  .step {
    text-align: center;
    width: 100%;
  }
  
  .step-number {
    background-color: #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
  }
  
  .step-label {
    margin-top: 5px;
  }
  
  .step.active .step-number {
    background-color: #4cd681;
    color: #fff;
  }
  
  .step.completed .step-number {
    background-color: #4cd681;
    color: #fff;
  }
  
.open {
    display: flex;
    transform: translateX(0);
  }
  /* src/index.css or your main CSS file */
  .job-details-container {
    position: relative;
    height: 100%;
    overflow-y: auto;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color:#c0b5b5;
    border-radius: 6px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:  #888;
  }